.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 750;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
    }
    &:focus{
    }
    &-primary {
        background: linear-gradient(180deg, #F8A032 0%, #F85B2E 100%);
        box-shadow: 0px 10px 20px 3px rgba(255, 146, 0, 0.2), inset 0px -5px 0px #CF582D;
        color: $white;
        &:hover {
            
        }
    }
    &-secondary{
        padding: 19px 30px 20px;
        background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
        box-shadow: 0px 10px 20px rgba(81, 129, 234, 0.3), inset 0px -5px 0px rgba(172, 172, 172, 0.2);
        color: $white;
        &:hover{
            
        }
    }
    &-contour{
        &:hover{
            
        }
    }
    &-filter{
        &:hover{
        }
    }
}