// color

$white: #fff;
$black: #000;
$background: #f9f9f9;
$border: #e1e1e1;
$gray: #9E9E9E;
$second-black: #2C2C2C;
$white-icon: #CFCFCF;
$orange: #F8A032;


// bold
.h1 {
    font-size: 50px;
    line-height: 60px;
}
.h3 {
    font-size: 30px;
    line-height: 37px;
}
.t4 {
    font-size: 18px;
    line-height: 22px;
}
.t8 {
    font-size: 17px;
    line-height: 21px;
}
.t9 {
    font-size: 15px;
    line-height: 20px;
}
// bold


// 800
.h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
}
.h5 {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
.h6 {
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
}
// 800

// 750
.h1-750{
    font-weight: 750;
    font-size: 50px;
    line-height: 60px;
}
.h6-750 {
    font-weight: 750;
    font-size: 25px;
    line-height: 35px;
}
.h2-750 {
    font-weight: 750;
    font-size: 35px;
    line-height: 43px;
}
.t3 {
    font-weight: 750;
    font-size: 20px;
    line-height: 35px;
}
.t11 {
    font-weight: 750;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
}
.t1 {
    font-weight: 750;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
}
.t12 {
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
}
.t14 {
    font-weight: 750;
    font-size: 23px;
    line-height: 35px;
}
// 750 


// normal
.h4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.t2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.t5 {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.t10 {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
// normal

//450
.t13 {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
}
.contact {
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
}
// 450
