html,
body {
	height: 100%;
	font-family: 'Avenir Next Cyr';
	font-weight: bold;
	font-style: normal;
	overflow-x: hidden;
}
textarea{
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
input,
textarea { 
	appearance: none;
	outline:none 
}

// .icon-

.container{
  max-width: 1380px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumbs {

}

.d-flex{
	display: flex !important;
}

//Ввод данных конец 
.burger{

}

.d-none{
	display: none !important;
}