.header{
    // width: 1920px;
    width: 100%;
    height: 827px;
    background-image: url('../images/Фон.png');
    background-repeat: no-repeat;
    color: $white;
    padding: 48px 0 75px;
    margin-bottom: 135px;
    &-nav{
        display: flex;
        align-items: center;
        padding-left: 5px;
        margin-bottom: 163px;
    }
    &-logo{
        width: 247px;
        height: 100px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .h1{
        text-align: center;
    }
    &-contact{
        text-align: right;
        margin-left: auto;
    }
    &-contact__body{
        display: flex;
        align-items: center;
    }
    &-contact__phone{
        margin-left: 25px;
    }
    &-contact__whatsapp{
        padding-left: 5px;
    }
    .btn-secondary{
        margin-left: 29px;
        .icon{
            margin-right: 10px;
        }
    }
    .h1{
        margin-bottom: 60px;
    }
    &-form{
        width: 930px;
        margin: 0 auto;
        margin-bottom: 95px;
    }
    &-form__body{
        display: flex;
        align-items: center;
    }
    &-form__title{
        text-align: center;
        margin-bottom: 20px;
    }
    &-form__input{
        width: 300px;
        height: 60px;
        margin-right: 15px;
        background: #F5F5F5;
        border: 1px solid rgba(233, 233, 233, 0.5);
        box-sizing: border-box;
        box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 22px 30px;
    }
    &-form__btn{
        width: 300px;
        padding: 22px 41px 22px 39px;
    }
    &-more{
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #F8A032;
        cursor: pointer;
    }
}

.privileges{
    margin-bottom: 100px;
    .container{
        display: flex;
    }
    .card-inf{
        padding: 50px 12px 35px;
        background: linear-gradient(180deg, #FCFBFB 0%, #EBECEA 101.95%);
        text-align: center;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    .card-inf__mark{
        width: 70px;
        height: 70px;
        left: 50%;
        top: 0;
        margin-top: -35px;
        margin-left: -35px;
    }
    .card-inf__title{
        margin-bottom: 10px;
    }
}

.card-inf{
	border-radius: 10px;
	position: relative;
	&__mark{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
		box-shadow: 0px 10px 20px 3px rgba(81, 129, 234, 0.3), inset 0px -5px 0px rgba(172, 172, 172, 0.2);
	}
	&__title{
		font-weight: 600;
	}
}
.calculate{
    background: $background;
    padding: 100px 0 130px;
    .container{
        max-width: 1150px;
    }
    &__title{
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle{
        text-align: center;
        margin-bottom: 60px;
    }
}
.quise{
    position: relative;
    display: flex;
    background: $white;
    width: 100%;
    height: 445px;
    padding-left: 30px;
    &-img{
        width: 380px;
        height: 505px;
        margin: -30px 0 -30px 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &-img__calculate{
        position: absolute;
        top: 104px;
        right: -287px;
        z-index: 2;
    }
    &-content{
        padding: 50px;
        width: 710px;
    }
    &-title{
        max-width: 440px;
        margin-bottom: 10px;
    }
    &-text{
        max-width: 576px;
        margin-bottom: 30px;
    }
    &-quest{
        width: 413xp;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-quest__label{
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;
    }
    &-radio{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding-left: 20px;
    }
    &-radio__style{
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border: 2px solid #E3E3E3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-radio:checked + .quise-radio__style::before{
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
        box-shadow: inset 0px -5px 0px rgba(172, 172, 172, 0.2);
    } 
    &-footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .btn{
        padding: 20px 30px 22px;
        color: $white;
    }
}
.features{
    margin: 100px 0;
    &-title{
        text-align: center;
        font-weight: 800;
        margin-bottom: 58px;
    }
    &-list{
        display: flex;
    }
    .card-features{
        &:not(:last-child){
            margin-right: 30px;
        }
        &:nth-child(3n + 2){
            margin-top: -16px;
        }
        &:nth-child(5n + 1){
            margin-top: -58px;
        }
    }
}
.card-features{
    width: 200px;
    text-align: center;
    &__img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        margin-bottom: 5px;
    }
}

.product{
    padding: 100px 0 130px;
    background: $background;
    &-title{
        margin-bottom: 30px;
        font-weight: 800;
        text-align: center;
    }
    &-nav{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    &-nav__item{
        padding: 15px 30px;
        border: 2px solid #245DE2;
        cursor: pointer;
        border-radius: 5px;
        background: $white;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-bottom: 70px;
    }
}
.subscribe{
    position: relative;
    background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
    box-shadow: 0px 10px 20px rgba(81, 129, 234, 0.3), inset 0px -5px 0px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
    color: $white;
    text-align: center;
    padding:50px 0;
    &__leaflet{
        position: absolute;
        bottom: 40%;
        right: -60px;
        z-index: 2;
    }
    &__subtitle{
        width: 638px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &-form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    &-input{
        background: #F5F5F5;
        border: 1px solid rgba(233, 233, 233, 0.5);
        box-sizing: border-box;
        box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        width: 255px;
        height: 60px;
        padding: 22px 20px;
        margin-right: 15px;
    }
    .btn{
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.card-product{
    padding: 15px 30px 30px;
    text-align: center;
    background: $white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &__img{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        font-weight: 750;
        margin-bottom: 15px;
    }
    &__discr{
        display: flex;
        justify-content: space-around;
    }
    &__discr-item{
        width: 92px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__discr-img{
        margin: 0 auto;
        width: 30px;
        height: 25px;
        margin-bottom: 8px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__discr-title{
        span{
            font-weight: 750;
        }
    }
    &__footer{
        position: relative;
        padding-top: 20px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
        }
    }
    &__price{
        font-weight: 750;
        margin-bottom: 20px;
    }
    .btn{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
}
.parameters{
    background-image: url('../images/parameters-bg.png');
    .container{
        display: flex;
        padding: 100px 0 90px;
    }
    &-title{
        font-weight: 800;
        width: 680px;
        margin-bottom: 30px;
    }
    &-list{
        display: flex;
        margin-bottom: 40px;
    }
    .card-inf{
        width: 270px;
        padding: 20px;
        &:not(:last-child){
            margin-right: 20px;
        }
        background: linear-gradient(180deg, #F7F7F7 0%, #EBECEA 113.59%);
        border-radius: 10px;
    }
    .card-inf__mark{
        width: 50px;
        height: 50px;
        color: $white;
        right: 20px;
        top: 20px;
    }
    .card-inf__title{
        margin-bottom: 20px;
    }
    &-form__body{
        display: flex;
    }
    &-form__title{
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-form__text{
        margin-bottom: 20px;
        max-width: 775px;
    }
    .btn{
        height: 60px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    &-form__copyright{
        width: 250px;
    }
    &-img{
        width: 430px;
        height: 735px;
        margin-top: -131px;
        margin-bottom: -90px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.price{
    margin: 100px 0;
    &__title{
        margin-bottom: 10px;
        font-weight: 800;
        text-align: center;
    }
    &__text{
        margin-bottom: 30px;
    }
    &-table{
        margin-bottom: 40px;
    }
    &-table__header{
        .price-table__column{
            font-weight: 750;
        }
    }
    &-table__row{
        display: flex;
        &:not(:last-child){
            margin-bottom: 2px;
        }
        &:nth-child(2n + 1){
            .price-table__column{
                background: $background;
            }
        }
        &:nth-child(2n + 2){
            .price-table__column{
                background: #FFE7DD;
            }
        }
    }
    &-table__column{
        padding:20px 0;
    }
    &-table__name{
        padding-left: 36px;
        margin-right: 2px;
        flex: 1 0 auto;
    }
    &-table__price{
        width: 229px;
        display: flex;
        justify-content: center;
    }
    .btn{
        height: 60px;
        width: 373px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
.certificate{
    padding: 100px 0;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        width: 660px;
        text-align: center;
    }
    &__title{
        margin-bottom: 10px;
        font-weight: 800;
        width: 495px;
        margin: 0 auto;
    }
    &__text{
        margin-bottom: 20px;
        height: 75px;
    }
    &__img{
        margin: 0 auto;
        width: 200px;
        height: 270px;
        background: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        img{
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
        }
    }
    .swiper-container{
        position: relative;
    }
    .swiper-container{
        width: 340px;
        height: 270px;
        &.swiper--object{
            width: 570px;
            .certificate__img{
                width: 430px;
            }
            .swiper-button-prev,
            .swiper-button-next{
                background: linear-gradient(180deg, #F8A032 0%, #F85B2E 100%);
                box-shadow: 0px 10px 20px rgba(255, 146, 0, 0.2), inset 0px -2px 0px #CF582D;
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        position: absolute;
        margin-top: -20px;
        top: 50%;
        z-index: 2;
        background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
        box-shadow: 0px 10px 20px 3px rgba(81, 129, 234, 0.3), inset 0px -5px 0px rgba(172, 172, 172, 0.2);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
    .swiper-button-prev{
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }
}
.stocks{
    position: relative;
    height: 586px;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &__img{
        position: absolute;
        top: -47px;
        left: 50%;
        width: 466px;
        height: 700px;
        margin-left: -233px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: .15;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        font-weight: 800;
        margin-bottom: 16px;
    }
    &__body{
        width: 430px;
        margin-top: 160px;
    }
    &__form{
        position: relative;
        padding: 57px 50px 55px;
        background: $white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-top: 70px;
        &::after{
            content: '';
            position: absolute;
            bottom: -15px;
            left: 5px;
            width: calc(100% - 10px);
            height: 16px;
            border-radius:0 0 10px 10px;
            background: $white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -30px;
            left: 10px;
            width: calc(100% - 20px);
            height: 16px;
            border-radius:0 0 10px 10px;
            background: $white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        }
    }
    &__form-input{
        background: #F5F5F5;
        border: 1px solid rgba(233, 233, 233, 0.5);
        box-sizing: border-box;
        box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        display: block;
        margin-bottom: 15px;
        padding: 22px 20px;
        width: 300px;
        height: 60px;
    }
    .time{
        margin-bottom: 15px;
    }
    .btn{
        width: 300px;
        height: 60px;
    }
}
.time{
    display: flex;
    &__item{
        width: 95px;
        height: 80px;
        background: linear-gradient(180deg, #F7F7F7 0%, #EBECEA 113.59%);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 113.59%);
        }
    }
}

.faq{
    margin: 100px 0;
    &__title{
        margin-bottom: 30px;
    }
    &-content{
        background: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
    }
    &-question{
        width: 50%;
        background: $background;
        padding: 43px 35px 42px 30px;
        .icon{
            background: linear-gradient(180deg, #F8A032 0%, #F85B2E 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            margin-right: 15px;
        }
    }
    &-question__item{
        display: flex;
        align-items: center;  
        margin-bottom: 16px;  
        cursor: pointer;
        &.open{
            .icon{
                display: none;
            }
            .faq-minus{
                display: block;
            }
            background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }
    &-minus{
        display: none;
        width: 45px;
        height: 5px;
        margin-right: 15px;
        background: linear-gradient(180deg, #5282EA 0%, #245DE2 100%);
    }
    &-question__text{
        font-weight: 750;
        text-transform: uppercase;
    }
    &-answer{
        width: 50%;
        padding: 50px;
        p{
            margin-bottom: 30px;
        }
    }
    &-answer__title{
        font-weight: 750;
        margin-bottom: 20px;
    }

}