$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-doubleTriangle-top: "\e90b";
$icon-arrow-right: "\e900";
$icon-geo: "\e901";
$icon-mail: "\e902";
$icon-nice: "\e903";
$icon-phone: "\e904";
$icon-plus: "\e905";
$icon-time: "\e906";
$icon-whatsapp: "\e907";
$icon-arrowBig-down: "\e908";
$icon-arrowBig-right: "\e909";
$icon-arrow-left: "\e90a";

